# See https://dart.dev/guides/libraries/private-files

.dart_tool/
.packages
build/
pubspec.lock  # Except for application packages
.flutter-plugins
.flutter-plugins-dependencies

doc/api/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Mac
.DS_Store
