<ion-content>
  <div class="d-flex align-items-center justify-content-center">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <h2>Set Homeserver URL</h2>
      <div class="d-flex flex-column">
        <wrangler-mobile-input
          label="Homeserver Url"
          [inputFormControl]="form | formGet : 'url'"
        ></wrangler-mobile-input>
      </div>
      <div class="w-100 d-flex flex-column">
        <wrangler-mobile-button
          expand="full"
          buttonText="Next"
          type="submit"
        ></wrangler-mobile-button>
      </div>
    </form>
  </div>
</ion-content>
