<ion-content class="ion-padding">
  <div
    class="d-flex ion-align-items-center ion-justify-content-center w-100 h-100"
  >
    <form class="w-100" [formGroup]="form" (ngSubmit)="submit()">
      <h2>Set Homeserver URL</h2>
      <div class="d-flex flex-column">
        <wrangler-mobile-input
          class="mb-2"
          label="Homeserver Url"
          [inputFormControl]="form | formGet : 'url'"
        ></wrangler-mobile-input>
      </div>
      <div class="w-100 d-flex flex-column">
        <wrangler-mobile-button
          expand="block"
          buttonText="Next"
          type="submit"
        ></wrangler-mobile-button>
      </div>
    </form>
  </div>
</ion-content>
