// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
@import "/node_modules/@receipt-wrangler/receipt-wrangler-core/styles/variables.scss";

$primary-color: map-get($primary-palette, 400);
$primary-color-contrast: white;
$primary-color-shade: map-get($primary-palette, 600);
$primary-color-tint: map-get($primary-palette, 200);

$secondary-color: map-get($accent-palette, 400);
$secondary-color-contrast: white;
$secondary-color-shade: map-get($accent-palette, 600);
$secondary-color-tint: map-get($accent-palette, 200);

$success-color: map-get($success-palette, 400);
$success-color-contrast: map-get(map-get($success-palette, contrast), 100);
$success-color-shade: map-get($success-palette, 600);
$success-color-tint: map-get($success-palette, 200);

$warning-color: map-get($warn-palette, 400);
$warning-color-contrast: map-get(map-get($warn-palette, contrast), 100);
$warning-color-shade: map-get($warn-palette, 600);
$warning-color-tint: map-get($warn-palette, 200);

/** Ionic CSS Variables **/
:root {
  --ion-font-family: Raleway, sans-serif;

  /** primary **/
  --ion-color-primary: #{$primary-color};
  --ion-color-primary-rgb: #{rgba($primary-color, 1)};
  --ion-color-primary-contrast: #{$primary-color-contrast};
  --ion-color-primary-contrast-rgb: #{rgba($primary-color-contrast, 1)};
  --ion-color-primary-shade: #{$primary-color-shade};
  --ion-color-primary-tint: #{$primary-color-tint};

  /** secondary **/
  --ion-color-secondary: #{$secondary-color};
  --ion-color-secondary-rgb: #{rgba($secondary-color, 1)};
  --ion-color-secondary-contrast: #{$secondary-color-contrast};
  --ion-color-secondary-contrast-rgb: #{rgba($secondary-color-contrast, 1)};
  --ion-color-secondary-shade: #{$secondary-color-shade};
  --ion-color-secondary-tint: #{$secondary-color-tint};

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #{$success-color};
  --ion-color-success-rgb: #{rgba($success-color, 1)};
  --ion-color-success-contrast: #{$success-color-contrast};
  --ion-color-success-contrast-rgb: #{rgba($success-color-contrast, 1)};
  --ion-color-success-shade: #{$success-color-shade};
  --ion-color-success-tint: #{$success-color-tint};

  /** warning **/
  --ion-color-warning: #{$warning-color};
  --ion-color-warning-rgb: #{rgba($warning-color, 1)};
  --ion-color-warning-contrast: #{$warning-color-contrast};
  --ion-color-warning-contrast-rgb: #{rgba($warning-color-contrast, 1)};
  --ion-color-warning-shade: #{$warning-color-shade};
  --ion-color-warning-tint: #{$warning-color-tint};

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
