<ion-content class="ion-padding">
  <form
    [formGroup]="form"
    (ngSubmit)="submit()"
    class="d-flex ion-align-items-center ion-justify-content-center w-100 h-100"
  >
    <div class="d-flex flex-column w-100">
      <ion-title>Login</ion-title>
      <wrangler-mobile-input
        label="URL"
        [inputFormControl]="homeserverUrlFormControl"
      >
      </wrangler-mobile-input>
      <wrangler-mobile-input
        label="Username"
        [inputFormControl]="form | formGet : 'username'"
      >
      </wrangler-mobile-input>
      <wrangler-mobile-input
        class="mb-2"
        label="Password"
        [inputFormControl]="form | formGet : 'password'"
      >
      </wrangler-mobile-input>

      <div class="d-flex flex-column">
        <wrangler-mobile-button
          expand="block"
          type="submit"
          buttonText="Login"
        ></wrangler-mobile-button>
      </div>
    </div>
  </form>
</ion-content>

<ng-template #additionalFields>
  <app-input
    label="Homeserver URL"
    [inputFormControl]="homeserverUrlFormControl"
    [readonly]="true"
  ></app-input>
</ng-template>
