name: Tests

on:
  pull_request:
    branches:
      - main

jobs:
  flutter-and-api-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Install Flutter deps
        run: flutter pub get

      - name: Run Flutter tests
        run: flutter test

